body.space {
	
	overflow: hidden; /* anything that exceeds the bounds of the screen will be hidden */
	background: url('images/bg.jpg');
	background-size: cover;
	margin: 0;
	height: 100vh;
	display: flex;
	align-items: center; /* centers all children along a single axis */
	justify-content: center;
}

#mainContent {
	position: relative;
	width: 800px;
	height: 800px;
	display: flex; /* centers the main content pane itself */
	justify-content: center;
	align-items: center;
}

.planets {
	align-items: center;
	top: 50%;
	left: 50%;
}

/*KEYFRAMES START*/
@keyframes move_earth{
    0% {
    transform: rotate(0deg) translateX(600px);
	}
100% {
    transform: rotate(360deg) translateX(600px);
    }



}
@keyframes rotate{
    from{
        transform: rotate(0deg);
    }
    to{
        transform: rotate(360deg);
    }
}

@keyframes move_mars{
    0% {
    transform: rotate(0deg) translateX(600px);
	}
100% {
    transform: rotate(360deg) translateX(600px);
    }



}
@keyframes rotate{
    from{
        transform: rotate(0deg);
    }
    to{
        transform: rotate(360deg);
    }
}

@keyframes move_venus{
    0% {
    transform: rotate(0deg) translateX(600px);
	}
100% {
    transform: rotate(360deg) translateX(600px);
    }



}
@keyframes rotate{
    from{
        transform: rotate(0deg);
    }
    to{
        transform: rotate(360deg);
    }
}

@keyframes move_jupiter{
    0% {
    transform: rotate(0deg) translateX(600px);
	}
100% {
    transform: rotate(360deg) translateX(600px);
    }



}
@keyframes rotate{
    from{
        transform: rotate(0deg);
    }
    to{
        transform: rotate(360deg);
    }
}

@keyframes move_saturn{
    0% {
    transform: rotate(0deg) translateX(600px);
	}
100% {
    transform: rotate(360deg) translateX(600px);
    }



}
@keyframes rotate{
    from{
        transform: rotate(0deg);
    }
    to{
        transform: rotate(360deg);
    }
}

@keyframes move_uranus{
    0% {
    transform: rotate(0deg) translateX(600px);
	}
100% {
    transform: rotate(360deg) translateX(600px);
    }



}
@keyframes rotate{
    from{
        transform: rotate(0deg);
    }
    to{
        transform: rotate(360deg);
    }
}

@keyframes move_neptune{
    0% {
    transform: rotate(0deg) translateX(600px);
	}
100% {
    transform: rotate(360deg) translateX(600px);
    }



}
@keyframes rotate{
    from{
        transform: rotate(0deg);
    }
    to{
        transform: rotate(360deg);
    }
}

@keyframes move_mercury{
    0% {
    transform: rotate(0deg) translateX(600px);
	}
100% {
    transform: rotate(360deg) translateX(600px);
    }



}
@keyframes rotate{
    from{
        transform: rotate(0deg);
    }
    to{
        transform: rotate(360deg);
    }
}









.earth {
	animation: move_earth 10s infinite linear;
}
.mars{
	animation: move_mars 18.8s infinite linear;
}
.venus{
	animation: move_venus 5s infinite linear;
}
.jupiter{
	animation: move_jupiter 11.8s infinite linear;
}
.saturn{
	animation: move_saturn 29.4s infinite linear;
}
.uranus{
	animation: move_uranus 83.7s infinite linear;
}
.neptune{
	animation: move_neptune 163.7s infinite linear;
}
.mercury{
	animation: move_earth 8s infinite linear;
}

.sun{
	position: absolute;
	left: 200px;
}